{% extends "base.html" %}

{% load static %}

{% block title %}<title>Home</title>{% endblock %}
<div class="container">
  {% block main_header %}
    <h1 style="font-style: normal;">Are you looking for a promising responsible young man <br>
        for the Python Junior Developer position?
    </h1>
    <h4 style="font-style: oblique; color: #999999 ">Probably, I'll be able to impress you.</h4>
  {% endblock %}
</div>

{% block page_content %}

<h3> One year ago I began discovering for myself the amazing world of computer science.
    Since that, I'm rapidly improving in that direction. I think I already have enough knowledge to make the next step.
</h3>


<h1>Projects</h1>
<div class="row">
{% for home in homepage_list %}
  {% for project in home.projects.all %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.main_image %}" alt="photo">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.short_description }}</p>
                <a href="{% url 'software_project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
  {% endfor %}
{% endfor %}
</div>


{% endblock %}

