{% extends "base.html" %}

{% load static %}

{% block title %}<title>Home</title>{% endblock %}

{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for home in home_list %}
    {% load static %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static home.projects.main_image %}" alt="photo">
            <div class="card-body">
                <h5 class="card-title">{{ home.name }}</h5>
                <p class="card-text">{{ home.projects }}</p>
                <a href="{% url 'civil_project_detail' home.projects.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<h1>Categories</h1>
<div class="row">
{% for category in category_list %}
    <p>{{ category.name }}</p>
{% endfor %}
</div>
{% endblock %}