{% extends "base.html" %}

{% load static %}

{% block title %}<title>Home</title>{% endblock %}
{% block main_header %}
  {% for home in homepage_list %}
  <div class="container">
      <h1>{{ home.main_header }}</h1>
      <h4 style="font-style: oblique; color: #999999 ">{{ home.secondary_header}}.</h4>
  </div>
  {% endfor %}
  <div class="container" style="padding: 20px">
    <a href="{% url 'contact-index' %}">
        <button type="button" class="btn btn-outline-dark btn-lg" style="color: white">
            Contact me today!
        </button>
    </a>
  </div>
{% endblock %}

{% block page_content %}
{% for home in homepage_list %}
<div style="padding-top:50px;
  padding-bottom:50px;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class='header text-center'>
        <h5>{{ home.annotation }}</h5>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endfor %}



    <h2 class="header text-center">My main software development projects</h2>
    <div class="row" style="padding: 40px">
    {% for home in homepage_list %}
      <div class="col-md-12">
          <div class="card-deck">
      {% for project in home.projects.all %}
        {% if project.category.name == "Software development" %}
              <div class="card mb-2">
                <img class="card-img-top " src="{% static project.main_image %}" alt="photo">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">
                        <strong>Short description: </strong>{{ project.short_description }}
                    </p>
                    <p class="card-text">
                        <strong>Technologies:</strong> {{ project.technologies }}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-dark" href="{% url 'software_project_detail' project.pk %}">
                        Read More
                    </a>
                </div>
              </div>
        {% endif %}
      {% endfor %}
          </div>
      </div>
    {% endfor %}
    </div>



    <h2 class="header text-center">My main civil engineering projects</h2>
    <div class="row" style="padding: 40px">
    {% for home in homepage_list %}
      <div class="col-md-12">
          <div class="card-deck">
      {% for project in home.projects.all %}
        {% if project.category.name == "Civil engineering" %}
              <div class="card mb-2">
                <img class="card-img-top " src="{% static project.main_image %}" alt="photo">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">
                        <strong>Short description: </strong>{{ project.short_description }}
                    </p>
                    <p class="card-text">
                        <strong>Technologies:</strong> {{ project.technologies }}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-dark" href="{% url 'civil_project_detail' project.pk %}">
                        Read More
                    </a>
                </div>
              </div>
        {% endif %}
      {% endfor %}
          </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}

