{% extends "base.html" %}

{% load static %}

{% block title %} Civil engineering projects {% endblock %}

{% block main_header %} Here are the most unique structures in creating I've participated {% endblock %}

{% block secondary_header %} They are really amazing, aren't they? {% endblock %}

{% block button-href %} /portfolio/software-development/ {% endblock %}
{% block button %} My software development projects {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'portfolio/css/civil_index.css' %}">

    {% if user.is_superuser %}
        <div class="createButton">
            <a href="{% url 'project_create' %}">
                <button type="button" class="btn btn-dark btn-lg">
                    + create new project
                </button>
            </a>
        </div>
    {% endif %}

    <h5 class="civilHeader">I worked in the design of bridges for ten years. This is an incredible experience.
        I took part in the creation of many wonderful, unique objects and I can say with no doubts:
        I have left my small mark on history! Just look at these amazing structures!
    </h5>

    <div class="row project">
        <div class="col-md-12">
            {% for card in cards %}
                <div class="card-deck">
                {% for project in card %}
                    <div class="card mb-2">
                        <a href="{% url 'civil_project_detail' project.pk %}">
                            {% if project.main_image %}
                                <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">
                                {{ project.short_description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-dark" href="{% url 'civil_project_detail' project.pk %}">
                                Read More
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}

            {% if last_card %}
                {% if last_card|length_is:2 %}
                    <div class="card-deck twoCards">
                        {% for project in last_card %}
                            <div class="card mb-2">
                                <a href="{% url 'civil_project_detail' project.pk %}">
                                    {% if project.main_image %}
                                        <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">
                                        {{ project.short_description }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-dark" href="{% url 'civil_project_detail' project.pk %}">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-deck oneCard">
                    {% for project in last_card %}
                        <div class="card mb-2">
                            <a href="{% url 'civil_project_detail' project.pk %}">
                                {% if project.main_image %}
                                    <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">
                                    {{ project.short_description }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-dark" href="{% url 'civil_project_detail' project.pk %}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}