{% extends "base.html" %}

{% load static %}

{% block title %} Civil engineering projects {% endblock %}

{% block main_header %} Here are the most unique structures in creating I've participated {% endblock %}

{% block secondary_header %} They are really amazing, aren't they? {% endblock %}

{% block button-href %} /portfolio/software-development/ {% endblock %}
{% block button %} My software development projects {% endblock %}

{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in project_list %}
    <div class="col-md-4">
        <div class="card mb-2">
          {%  if project.main_image %}
            <a href="{% url 'civil_project_detail' project.pk %}">
              <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
            </a>
          {%  endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.short_description }}</p>
                <a href="{% url 'civil_project_detail' project.pk %}"
                   class="btn btn-dark">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}