{% extends "base.html" %}

{% load static %}

{% block title %} {{ project.title }} {% endblock %}

{% block main_header %} {{ project.title }} {% endblock %}

{% block secondary_header %} {{ project.short_description }} {% endblock %}

{% block button-href %} /portfolio/civil-engineering/ {% endblock %}
{% block button %} All projects {% endblock %}

{% block page_content %}
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
  <div class="row" style="padding-top: 100px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ project.main_image.url}}" alt="Los Angeles" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{ project.main_image.url}}" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{{ project.main_image.url}}" alt="New York" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
      </div>
  </div>
  <div class="row" style="padding-top: 20px">
      <div class="col-md-1"></div>
      <div class="col-md-10">

          <h6>{{ project.technologies }}</h6>
          <p>{{ project.full_description }}</p>
      </div>
  </div>


{% endblock %}