{% extends "base.html" %}

{% load static %}

{% block title %} Update {{ project.title }} {% endblock %}

{% block main_header %} Update project: {{ project.title }} {% endblock %}

{% block secondary_header %}{% endblock %}

{% block button-href %}{{request.META.HTTP_REFERER}}{% endblock %}

{% block button %} Go back {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'portfolio/css/project_form.css' %}">

    <form class="row1" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" class="btn btn-dark " value="Submit">
    </form>

{% endblock %}