{% extends "base.html" %}

{% block title %} Update comment {% endblock %}

{% block main_header %} Update comment {% endblock %}

{% block secondary_header %}  {% endblock %}

{% block button-href %} /blog/ {% endblock %}
{% block button %}{% endblock %}

{% block page_content %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-dark " value="Submit">
  </form>
{% endblock %}