{% extends "base.html" %}

{% load static %}

{% block title %} {{ project.title }} {% endblock %}

{% block main_header %} {{ project.title }} {% endblock %}

{% block secondary_header %} {{ project.short_description }} {% endblock %}

{% block button-href %} /portfolio/software-development/ {% endblock %}
{% block button %} All projects {% endblock %}

{% block page_content %}
  <div class="row" style="padding-top: 100px">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <img class="card-img-top" src="{{ project.main_image.url}}" alt="photo">
      </div>
  </div>
  <div class="row" style="padding-top: 20px">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <h6>{{ project.technologies }}</h6>
          <p>{{ project.full_description|safe }}</p>
      </div>
  </div>



{% endblock %}