{% extends "base.html" %}

{% load static %}

{% block title %} {{ project.title }} {% endblock %}

{% block main_header %} {{ project.title }} {% endblock %}

{% block secondary_header %} {{ project.short_description }} {% endblock %}

{% block button-href %} /portfolio/software-development/ {% endblock %}

{% block button %} {{ project.category }} projects {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'portfolio/css/soft_detail.css' %}">

    <div class="row fullDescript">
        <div class="row">
            <div class="col-md-12">
                <h6>Technologies: {{ project.technologies }}</h6>
                <hr>
            </div>
        </div>
        {% if project.content_images.all %}
            <div class="row">
                <div class="col-md-9">
                    <a href="{{ project.main_image.url }}" class="lightview">
                        <img class="mainImg float-left" src="{{ project.main_image.url }}" alt="photo">
                    </a>
                    <p>
                        {{ project.full_description|safe }}
                        {{ project.full_description_2|safe }}
                    </p>
                </div>
                <div class="col-md-3">
                    {% for set in project.content_images.all %}
                        <div>
                            <a href="{{ set.image.url }}" class="lightview">
                                <img class="card-img-top float-right" src="{{ set.image.url }}" alt="photo">
                            </a>
                            <p>{{ set.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ project.main_image.url }}" class="lightview">
                        <img class="mainImg float-left" src="{{ project.main_image.url }}" alt="photo">
                    </a>
                    <p>{{ project.full_description|safe }} {{ project.full_description_2|safe }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row" id="buttons">
            <div class="col-md-12">
                {% if user.is_superuser %}
                    <a href="{% url 'project_update' project.pk %}">
                        <button type="submit" class="btn btn-dark">Update</button>
                    </a>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
                        Delete
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->

                <div class="modal-header">
                    <h4 class="modal-title">Delete Project </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->

                <div class="modal-body">
                    <p>Are you sure you want to delete the project: {{ project.title }}?</p>
                </div>

                <!-- Modal footer -->

                <div class="modal-footer">
                    <form action="{% url 'project_delete' project.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Yes, delete.">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row commentForm">
        <div class="col-md-12">
            <h3>Leave a comment:</h3>

            {% if user.is_authenticated %}
                <form action="/portfolio/software-development/{{ project.pk }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.body }}
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            {% else %}
                <p> You must be
                    <a href="{% url 'account_login' %}?next={{ request.path }}"> logged in </a>
                    to post comments here
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row comments">
        <div class="col-md-12">
            <h3>Comments:</h3>
            <hr>
            {% for comment in project.project_comments.all %}
                <p>
                    On {{ comment.last_modified.date }}&nbsp;{{ comment.last_modified.time }}
                    <b>{{ comment.author }}</b> wrote:
                </p>
                <p>{{ comment.body }}</p>
                {% if user.is_authenticated and comment.author == user %}
                    <a href="{% url 'update_project_comment' comment.pk %}?next={{ request.path }}">
                        <button type="submit" class="btn btn-dark">Update</button>
                    </a>

                    <!-- Button to Open the Modal -->

                    <button type="button" class="btn btn-dark" data-toggle="modal"
                            data-target="#myModa2{{ comment.pk }}">
                        Delete
                    </button>
                {% endif %}

                <!-- The Modal -->

                <div class="modal fade" id="myModa2{{ comment.pk }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->

                            <div class="modal-header">
                                <h4 class="modal-title">Delete Comment </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->

                            <div class="modal-body">
                                <p>Are you sure you want to delete this comment? {{ comment.pk }}</p>
                            </div>

                            <!-- Modal footer -->

                            <div class="modal-footer">
                                <form action="{% url 'delete_project_comment' comment.pk %}?next={{ request.path }}"
                                      method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Yes, delete.">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}