{% extends "base.html" %}

{% load static %}

{% block title %} Software development projects {% endblock %}

{% block main_header %} My software development projects {% endblock %}

{% block secondary_header %} My first steps in a computer programming {% endblock %}

{% block button-href %} /portfolio/civil-engineering/ {% endblock %}
{% block button %} My civil engineering projects {% endblock %}

{% block page_content %}

{% if user.is_superuser %}
    <a href="{% url 'project_create' %}">
       <button type="button" class="btn btn-dark btn-lg">
           Create new project
       </button>
    </a>
{% endif %}

<h1>Projects</h1>
<div class="row">
{% for project in project_list %}
    <div class="col-md-4">
        <div class="card mb-2">
          {%  if project.main_image %}
            <a href="{% url 'software_project_detail' project.pk %}">
              <img class="card-img-top" src="{{ project.main_image.url}}" alt="photo">
            </a>
          {%  endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.short_description }}</p>
                <a href="{% url 'software_project_detail' project.pk %}"
                   class="btn btn-dark">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}