{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block main_header %}
    Are you looking for a promising responsible young person for the Python Junior Developer position?
{% endblock %}

{% block secondary_header %} Probably, I'll be able to impress you {% endblock %}



{% block page_content %}

    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">

    <h5 class="story text-center">
        A year ago I began to discover for myself the amazing world of computer science.
        Since then, I have been developing rapidly in this direction. I think I already have enough
        knowledge to take the next step. I'm looking for a developer team to join.
        I have no commercial development experience yet, but I think that my personal
        qualities and experience gained in my current job (civil engineering) will help me
        quickly get used to a new line of business for me. My strengths are stress tolerance, punctuality,
        perfectionism, the ability to perform work on tight deadlines and an endless desire for self-development.
        On this website you can view my main projects, my resume and find out more information about me.
        I hope you will like it !
    </h5>

    <h2 class="header text-center">My main software development projects</h2>
    <div class="row project">
        {% for home in homepage_list %}
            <div class="col-md-12">
                <div class="card-deck">
                    {% for project in home.projects.all %}
                        {% if project.category.name == "Software development" %}
                            <div class="card mb-2">
                                <a href="{% url 'software_project_detail' project.pk %}">
                                    {% if project.main_image %}
                                        <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">
                                        Technologies: {{ project.technologies }}
                                    </p>
                                    <p class="card-text">
                                        {{ project.short_description }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-dark" href="{% url 'software_project_detail' project.pk %}">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container text-center view-button">
        <a href="{% url 'software_projects_list' %}">
            <button type="button" class="btn btn-outline-dark btn-lg">
                View more projects
            </button>
        </a>
    </div>


    <h2 class="header text-center">My main civil engineering projects</h2>


    <div class="row project">
        {% for home in homepage_list %}
            <div class="col-md-12">
                <div class="card-deck">
                    {% for project in home.projects.all %}
                        {% if project.category.name == "Civil engineering" %}
                            <div class="card mb-2">
                                <a href="{% url 'civil_project_detail' project.pk %}">
                                    <img class="card-img-top" src="{{ project.main_image.url }}" alt="photo">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">
                                        Technologies: {{ project.technologies }}
                                    </p>
                                    <p class="card-text">
                                        {{ project.short_description }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-dark" href="{% url 'civil_project_detail' project.pk %}">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="container text-center view-button">
        <a href="{% url 'civil_projects_list' %}">
            <button type="button" class="btn btn-outline-dark btn-lg ">
                View more projects
            </button>
        </a>
    </div>

    <h2 class="header text-center">My favourite blog posts</h2>

    <div class="row project">
        {% for home in homepage_list %}
            <div class="col-md-12">
                <div class="card-deck">
                    {% for post in home.posts.all %}
                        <div class="card mb-2">
                            {% if post.cover %}
                                <a href="{% url 'post_detail' post.pk %}">
                                    <img class="card-img-top " src="{{ post.cover.url }}" alt="photo">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-title">Categories:
                                    {% for category in post.categories.all %}
                                        <a href="{% url 'post_category' category.name %}">
                                            {{ category.name }}
                                        </a>&nbsp;
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                    {{ post.body }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-dark" href="{% url 'post_detail' post.pk %}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="container text-center view-button">
        <a href="{% url 'blog_index' %}">
            <button type="button" class="btn btn-outline-dark btn-lg">
                View more posts
            </button>
        </a>
    </div>

{% endblock %}

