{% extends "base.html" %}

{% load static %}

{% block title %} {{ flatpage.myflatpage.title }} {% endblock %}

{% block main_header %} {{ flatpage.myflatpage.header1|safe }} {% endblock %}

{% block secondary_header %} {{ flatpage.myflatpage.header2|safe }} {% endblock %}

{% block button-href %} / {% endblock %}
{% block button %} Home page {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'infopages/contact/css/contact.css' %}">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <a href="{% static 'infopages/contact/img/avatar.png' %}" class="lightview">
                        <img class="card-img-top" src="{% static 'infopages/contact/img/avatar.png' %}" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <div class="card-text text-center">
                            <h4>Reach out to me directly if you so please</h4>
                            <p>
                                <strong>First name:</strong>&nbsp;&nbsp;&nbsp;&nbsp; Dmitriy
                            </p>
                            <p>
                                <strong>Last name:</strong>&nbsp;&nbsp;&nbsp;&nbsp; Pronkin
                            </p>
                            <p>
                                <strong>Phone:</strong>&nbsp;&nbsp;&nbsp;&nbsp; {{ flatpage.myflatpage.content2|safe }}
                            </p>
                            <p>
                                <strong>Email:</strong>&nbsp;&nbsp;&nbsp;&nbsp; {{ flatpage.myflatpage.content3|safe }}
                            </p>
                            <p>
                                <strong>GitHub:</strong>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/iAnafem">iAnafem</a>
                            </p>
                            <p>You can also email me via <a href="{{ flatpage.myflatpage.content|safe }}">VKontakte</a>
                                or <a href="{{ flatpage.myflatpage.content1|safe }}">Facebook</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

