{% extends "base.html" %}

{% load static %}

{% block title %} {{ flatpage.myflatpage.title }} {% endblock %}

{% block main_header %} {{ flatpage.myflatpage.header1|safe }} {% endblock %}

{% block secondary_header %} {{ flatpage.myflatpage.header2|safe }} {% endblock %}

{% block button-href %} /infopages/about/ {% endblock %}
{% block button %} About me {% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'infopages/resume/css/resume.css' %}">

    <div class="container-fluid resume">
        <div class="row resTable">
            <div class="col-md-1 "></div>
            <div class="col-md-4  resHeader">
                <h2><strong>Technologies</strong></h2>
            </div>
            <div class="col-md-2  resContent">
                {{ flatpage.myflatpage.content|safe }}
            </div>
            <div class="col-md-5 "></div>
        </div>
        <div class="row resTable">
            <div class="col-md-1 "></div>
            <div class="col-md-4  resHeader">
                <h2><strong>Languages</strong></h2>
            </div>
            <div class="col-md-6  resContent">
                {{ flatpage.myflatpage.content2|safe }}
            </div>
            <div class="col-md-1 "></div>
        </div>
        <div class="row resTable">
            <div class="col-md-1 "></div>
            <div class="col-md-4  resHeader">
                <h2><strong>Education</strong></h2>
            </div>
            <div class="col-md-6  resContent">
                <p><strong>
                    Education:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Higher (2005-2010)
                </p>
                <p><strong>
                    University:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;MOSCOW AUTOMOBILE AND ROAD CONSTRUCTION STATE TECHNICAL UNIVERSITY (MADI)
                </p>
                <p><strong>
                    Faculty:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Faculty of Road building
                </p>
                <p><strong>
                    Departament:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Bridges, tunnels and engineering constructions
                </p>
                <p><strong>
                    Speciality:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Railway Engineer
                </p>
            </div>
            <div class="col-md-1 "></div>
        </div>
        <div class="row resTable">
            <div class="col-md-1 "></div>
            <div class="col-md-4  resHeader">
                <h2><strong>Work experience</strong></h2>
            </div>
            <div class="col-md-6  resContent">
                <h6>
                    <strong>
                        LEAD ENGINEER
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                        ООО ИЦ МИТ (Engineering Center "Bridges and Tunnels"),
                    </strong>
                    Moscow, September 2012 &nbsp;-&nbsp;Present
                </p>
                <p>
                    Work in this organization became the starting point on the way of my becoming a computer programmer.
                    Due to the presence of a large number of objects and, as a result, a large amount of work and
                    very tight deadlines that are given here for the execution of these works, I had a natural
                    desire to somehow automate the routine processes that abound in design. From that moment on,
                    I began to discover the fascinating world of computer programming.
                    My main tool was Python. I wrote several useful
                    <a href="{% url 'software_project_detail' pk=2 %}">scripts</a> that my colleagues are actively
                    using,
                    wrote a <a href="{% url 'software_project_detail' pk=1 %}">program for working with AutoCAD</a>,
                    which you can see in my <a href="{% url 'software_projects_list' %}">portfolio</a>.
                    In this organization, I participated in the creation of a large
                    number of unique structures, including the <a href="{% url 'civil_project_detail' pk=7 %}">
                    Crimean Bridge</a>, the <a href="{% url 'civil_project_detail' pk=6 %}">
                    Bridge over the Volga River in the city of Dubna</a>,
                    and many others. Also, I've got experience in project management here.
                </p>
                <br>
                <h6>
                    <strong>
                        DESIGN ENGINEER (First category)
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                        НПО МОСТОВИК,
                    </strong>
                    Moscow, December 2009 &nbsp;-&nbsp;September 2012
                </p>
                <p>
                    My real path in engineering began in this organization. I participated in the creation of
                    dozens of large structures, including the
                    <a href="{% url 'civil_project_detail' pk=5 %}">Bridge to the Russky Island</a> (city of
                    Vladivostok)
                    and Olympic facilities, which were built as part of Russia's preparation for the Olympics in Sochi.
                    Here I learned to think in a complex way, to work for the result and to accomplish the set
                    tasks within the tight deadlines.
                </p>
                <br>

                <h6>
                    <strong>
                        DESIGN ENGINEER
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                        ЗАО ТРАНСМОСТОСТРОЙ,
                    </strong>
                    Moscow, February 2008 &nbsp;-&nbsp;January 2009
                </p>
                <p>
                    This is my first job in engineering. At that time I was a third year
                    university student and I naturally did not perform any serious and responsible
                    tasks due to lack of knowledge and the lack of any experience in designing.
                    In fact, this year I became acquainted with the
                    main elements of the supporting structures of
                    pedestrian and road bridges, as well as honed my skills in AutoCAD.
                </p>
            </div>
            <div class="col-md-1 "></div>
        </div>
        <div class="row resTable">
            <div class="col-md-1 "></div>
            <div class="col-md-4  resHeader">
                <h2><strong>Certificates</strong></h2>
            </div>
            <div class="col-md-6  resContent">
                <a href="{% static 'infopages/resume/img/CSC_alg_1.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/CSC_alg_1.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/CSC_alg_2.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/CSC_alg_2.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/BI_python_1.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/BI_python_1.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/BI_python_2.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/BI_python_2.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/DB_sert.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/DB_sert.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/JS.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/JS.png' %}" alt="">
                </a>
                <a href="{% static 'infopages/resume/img/MAIL_web.png' %}" class="lightview">
                    <img src="{% static 'infopages/resume/img/MAIL_web.png' %}" alt="">
                </a>

            </div>
            <div class="col-md-1 "></div>
        </div>

        <div class="row myButton">
            <div class="col-md-12">
                <a href="/portfolio/software-development/">
                    <button type="button" class="btn btn-dark btn-lg">
                        My software development projects
                    </button>
                </a>
            </div>
        </div>
    </div>


{% endblock %}



