{% extends "base.html" %}

{% load static %}

{% block title %}<title>{{ project.title }}</title>{% endblock %}

{% block page_content %}
  <div class="row" style="padding-top: 100px">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <img class="card-img-top" src="{% static project.main_image %}" alt="photo">
      </div>
  </div>
  <div class="row" style="padding-top: 20px">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <h1>{{ project.title }}</h1>
          <h2>{{ project.short_description }}</h2>
          <h3>{{ project.technologies }}</h3>
          <h4>{{ project.full_description }}</h4>
      </div>
  </div>



{% endblock %}