{% extends "base.html" %}

{% load static %}

{% block title %} {{ user.username }} {% endblock %}

{% block main_header %} {{ user.username }} {% endblock %}

{% block secondary_header %} {{ user.last_name }} {{ user.first_name }} {% endblock %}

{% block button-href %} / {% endblock %}
{% block button %} Home page {% endblock %}

{% block page_content %}
    <img src="{{ user.avatar.url }}" alt="Los Angeles">
    {{ user.first_name }}
    {{ user.last_name }}
    {{ user.gender }}
    {{ user.biography }}
    {{ user.date_of_birth}}


{% endblock %}