<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% load static %}

  </head>
  <body>
    <div class='tour-step-background'
         style="
              background-image: url('{% static 'homepage/img/back13.jpg'%}');
              color:white;
              padding-top:120px;
              padding-bottom:20px;">
      <div class='header text-center'>
        <div class="container">
          <h1>{% block main_header %}{% endblock %}</h1>
          <h4 style="font-style: oblique; color: #cccccc ">{% block secondary_header %}{% endblock %}</h4>
        </div>
          <div class="container" style="padding: 20px">

            <a href="{% block button-href %}/infopages/contact/{% endblock %}">
              <button type="button" class="btn btn-light btn-lg" style="color: black">
                {% block button %} Contact me today! {% endblock %}
              </button>
            </a>

          </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top"
         style="background-image: url('{% static 'homepage/img/back13.jpg'%}')">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="{% url 'home_page_index' %} ">
        <img src="{% static 'bird.jpg' %}" alt="logo" class="rounded-circle" style="width:80px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar" style="text-align: right">
        <ul class="navbar-nav mr-auto" style="padding-top: 10px">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_detail' user.pk %}">{{ user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}" >Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}" >Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}?next={{request.path}}" >Signup</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page_index' %}" >HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_index' %}">ABOUT</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PORTFOLIO</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'software_projects_list' %}">Software development</a>
              <a class="dropdown-item" href="{% url 'civil_projects_list' %}">Civil engineering</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/infopages/resume/">RESUME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/infopages/contact/">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>

  {% block carousel %}{% endblock %}
  <div class='tour-step-background' style="background-color: whitesmoke">
    <div class="container-fluid" style="padding-left: 100px; padding-right: 100px; padding-bottom: 50px">
      {% block page_content %}{% endblock %}
      {% block text_field %}{% endblock %}
      {% block content %}{% endblock %}
      {% block content1 %}{% endblock %}
      {% block content2 %}{% endblock %}
      {% block content3 %}{% endblock %}
    </div>
  </div>



  <div class="footer fixed bottom align-center text-center"
       style="
       background-image: url('{% static 'homepage/img/back13.jpg' %}');
       padding: 10px;
       width: 100%;
       color: #fff;">

    <h4>Contacts</h4>
    <p><strong>Phone:</strong> +7-917-539-61-53</p>
    <p><strong>Email:</strong> sidviciouc@gmail.com</p>
    <div>
      <a href="https://vk.com/id1629644">
        <img src="{% static 'homepage/img/VK.png' %}" alt="" style="width: 70px; padding: 10px">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100005183502722">
        <img src="{% static 'homepage/img/FB.jpg' %}" alt="" style="width: 68px; padding: 10px">
      </a>
      <a href="https://github.com/iAnafem">
        <img src="{% static 'homepage/img/GH1.png' %}" alt="" style="width: 75px; padding: 15px 10px 10px;">
      </a>
    </div>
  </div>
  </body>
</html>