{% extends "base.html" %}

{% load static %}



{% block title %} Blog {% endblock %}

{% block main_header %} Here is what I'm interested in  {% endblock %}


{% block secondary_header %} Several interesting articles, both my and other authors {% endblock %}

{% block button-href %} /blog/create/ {% endblock %}
{% block button %} Create new post {% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'blog/css/blog_index.css' %}">
<div class="someclass">
    <p>Some text</p>
</div>
<div id="some">
    <p>Some text</p>
</div>

<div class="col-md-12" style="padding-top: 50px;">

    {% for post in post_list %}
        <div class="container">
          <div class="align-center text-center">
            {% if post.cover %}
              <a href="{% url 'post_detail' post.pk%}">
                <img class="card-img-top " src="{{ post.cover.url}}" alt="photo" style="width: 50%">
              </a>
            {% endif %}
            <div>
                <small>
                  {{ post.created_on.date }}, {{ post.created_on.time }} |&nbsp;
                  <a href="{% url 'post_author' post.author%}">{{ post.author }} </a> |&nbsp;
                  Categories:
                  {% for category in post.categories.all %}
                  <a href="{% url 'post_category' category.name %}">
                    {{ category.name }}
                  </a>&nbsp;
                  {% endfor %}
                </small>
            </div>
            <h2 style="padding-top: 10px"><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
          </div>
          <p style="padding-bottom: 30px">{{ post.body | slice:":400" }}...</p>
        </div>
    {% endfor %}
</div>
{% endblock %}