{% extends "base.html" %}

{% load static %}

{% block title %} Create post {% endblock %}

{% block main_header %} Create post {% endblock %}

{% block secondary_header %}  {% endblock %}

{% block button-href %}{{ request.META.HTTP_REFERER }}{% endblock %}

{% block button %} Go back {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'blog/css/post_form.css' %}">

    <form class="row1" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-dark">Submit New Post</button>
    </form>

{% endblock %}