{% extends "base.html" %}

{% load static %}

{% block title %} {{ author }} {% endblock %}

{% block main_header %} {{ author }} {% endblock %}

{% block secondary_header %} All posts created by this author {% endblock %}

{% block button-href %} /blog/ {% endblock %}
{% block button %} All posts {% endblock %}

{% block page_content %}
<div class="col-md-12" style="padding-top: 50px">
    {% for post in post_list %}
        <h2><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
        {% if post.cover %}
          <img src="{{ post.cover.url}}" alt="{{ post.title }}">
        {% endif %}
        <div>
        <small>
            {{ post.created_on.date }}, {{ post.created_on.time }} |&nbsp;&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'post_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        </div>
        <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}