{% extends "base.html" %}

{% load static %}


{% block title %} {{ post.title }} {% endblock %}

{% block main_header %} {{ post.title }}  {% endblock %}

{% block secondary_header %}
    <small>
        Created by {{ post.author.username }} | {{ post.created_on.date }}, {{ post.created_on.time }}
    </small>
{% endblock %}

{% block button-href %} /blog/ {% endblock %}
{% block button %} All posts {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">

    <div class="postDetail">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h6>Last modified:{{ post.last_modified.date }}, {{ post.last_modified.time }}</h6>
                <hr>
                {% if post.cover %}
                    <a href="{{ post.cover.url }}" class="lightview">
                        <img class="mainImg float-right" src="{{ post.cover.url }}" alt="photo">
                    </a>
                {% endif %}
                <p>{{ post.body|safe }}</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="buttons">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if user.is_authenticated and post.author == user %}
                    <a href="{% url 'update_post' post.pk %}">
                        <button type="submit" class="btn btn-dark">Update</button>
                    </a>
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
                        Delete
                    </button>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>


        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Post </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>Are you sure you want to delete the post: {{ post.title }}?</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <form action="{% url 'delete_post' post.pk %}?next={{ request.path }}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Yes, delete.">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row commentForm">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Leave a comment:</h3>
                {% if user.is_authenticated %}
                    <form action="/blog/{{ post.pk }}/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.body }}
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                {% else %}
                    <p> You must be
                        <a href="{% url 'account_login' %}?next={{ request.path }}"> logged in </a>
                        to post comments here
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row comments">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Comments:</h3>
                <hr>
                {% for comment in post.comments.all %}
                    <p>
                        On {{ comment.last_modified.date }}&nbsp;{{ comment.last_modified.time }}
                        <b>{{ comment.author }}</b> wrote:
                    </p>
                    <p>{{ comment.body }}</p>
                    {% if user.is_authenticated and comment.author == user %}
                        <a href="{% url 'update_comment' comment.pk %}?next={{ request.path }}">
                            <button type="submit" class="btn btn-dark">Update</button>
                        </a>

                        <!-- Button to Open the Modal -->

                        <button type="button" class="btn btn-dark" data-toggle="modal"
                                data-target="#myModa2{{ comment.pk }}">
                            Delete
                        </button>
                    {% endif %}

                    <!-- The Modal -->

                    <div class="modal fade" id="myModa2{{ comment.pk }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->

                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Comment </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->

                                <div class="modal-body">
                                    <p>Are you sure you want to delete this comment?</p>
                                </div>

                                <!-- Modal footer -->

                                <div class="modal-footer">
                                    <form action="{% url 'delete_comment' comment.pk %}?next={{ request.path }}"
                                          method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="Yes, delete.">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}