{% extends "base.html" %}

{% load static %}

{% block title %} {{ category | title }} {% endblock %}

{% block main_header %} {{ category | title }}  {% endblock %}

{% block secondary_header %} All posts of this category {% endblock %}

{% block button-href %} /blog/ {% endblock %}
{% block button %} All posts {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{% static 'blog/css/blog_index.css' %}">

    <div class="row blogRow">
        {% for post in post_list %}
            <div class="col-md-4 blogCol">
                <div class="blogPost">
                    {% if post.cover %}
                        <a href="{% url 'post_detail' post.pk %}">
                            <img class="card-img-top" src="{{ post.cover.url }}" alt="photo">
                        </a>
                    {% endif %}
                    <div>
                        <small class="info">
                            <p>Created:{{ post.created_on.date }}, {{ post.created_on.time }}</p>
                            <p>Last modified:{{ post.last_modified.date }}, {{ post.last_modified.time }}</p>
                            <p>Created by: <a href="{% url 'post_author' post.author %}">{{ post.author }} </a>|&nbsp;
                                Categories:
                                {% for category in post.categories.all %}
                                    <a href="{% url 'post_category' category.name %}">
                                        {{ category.name }}
                                    </a>&nbsp;</p>
                                {% endfor %}
                        </small>
                        <a href="{% url 'post_detail' post.pk %}">
                            <h4>{{ post.title }}</h4>
                        </a>
                        <p class="postBody">{{ post.body | slice:":200" }}...</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}