{% extends "base.html" %}

{% load static %}

{% block title %} {{ flatpage.myflatpage.title }} {% endblock %}

{% block main_header %} {{ flatpage.myflatpage.header1|safe }} {% endblock %}

{% block secondary_header %} {{ flatpage.myflatpage.header2|safe }} {% endblock %}

{% block button-href %} /infopages/about/ {% endblock %}
{% block button %} About me {% endblock %}


{% block page_content %}


<p> {{flatpage.myflatpage.text_field|safe }} </p>

{{flatpage.myflatpage.content|safe }}


{{flatpage.myflatpage.content1|safe }}

{{flatpage.myflatpage.content2|safe }}

{{flatpage.myflatpage.content3|safe}}

{% endblock %}

