{% extends "base.html" %}

{% load static %}

{% block title %}<title>{{ flatpage.myflatpage.title }}</title>{% endblock %}

{% block main_header %}

  <div class="container">
      <h1>{{ flatpage.myflatpage.header1|safe }}</h1>
      <h4 style="font-style: oblique; color: #999999 ">{{ flatpage.myflatpage.header2|safe }}</h4>
  </div>

  <div class="container" style="padding: 20px">
    <a href="/infopages/contact/">
        <button type="button" class="btn btn-outline-dark btn-lg" style="color: white">
            Contact me today!
        </button>
    </a>
  </div>
{% endblock %}



{% block page_content %}


<p> {{flatpage.myflatpage.text_field|safe }} </p>

{{flatpage.myflatpage.content|safe }}


{{flatpage.myflatpage.content1|safe }}

{{flatpage.myflatpage.content2|safe }}

{{flatpage.myflatpage.content3|safe}}

{% endblock %}

