
{% extends "base.html" %}

{% load static %}

{% block title %}<title>{{ flatpage.myflatpage.title }}</title>{% endblock %}


{% block main_header %}


  <div class="container">
      <h1>{{ flatpage.myflatpage.header1|safe }}</h1>
      <h4 style="font-style: oblique; color: #999999 ">{{ flatpage.myflatpage.header2|safe }}</h4>
  </div>
{% endblock %}


{% block content %}
<div style="background-color: whitesmoke">
    <div class="container" style="max-width: 1500px; padding-top: 80px;">
      <table class="table-sm table-borderless">
        <thead>

          <!-- 1 row -->
          <tr>
            <th class="w-25 text-center" style="text-align: center;font-style: oblique; font-family: Inconsolata">
                <h2><strong>Technologies</strong></h2>
            </th>
            <th class="w-25 text-center">
                <h5><strong>Day-to-day Comfort</strong></h5>
            </th>
            <th class="w-25 text-center">
                <h5><strong>Experienced with</strong></h5>
            </th>
          </tr>
        </thead>
        <tbody class="align-top">

          <!-- 2 row -->
          <tr>
            <td></td>
            <td class="w-20 text-left" style="padding-left: 18vmin;">
                {{flatpage.myflatpage.content|safe }}
            </td>
            <td class="w-20 text-left" style="padding-left: 18vmin;;">
                {{flatpage.myflatpage.content1|safe }}
            </td>
          </tr>

          <!-- 3 row -->
          <tr>
            <td class="w-25 text-center" style="text-align: center;font-style: oblique;padding-top: 50px; font-family: Inconsolata">
              <h2><strong>Languages</strong></h2>
            </td>
            <td colspan="2" class="w-20 text-left" style="padding-left: 18vmin;padding-top: 50px;">
                {{flatpage.myflatpage.content2|safe }}
            </td>
          </tr>

          <!-- 4 row -->
          <tr>
            <td class="w-25 text-center" style="text-align: center;font-style: oblique;padding-top: 50px; font-family: Inconsolata">
              <h2><strong>Education</strong></h2>
            </td>
            <td colspan="2" class="w-20 text-left" style="padding-left: 18vmin;padding-top: 50px;">
                <p><strong>
                    Education:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Higher (2005-2010)
                </p>
                <p><strong>
                    University:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;MOSCOW AUTOMOBILE AND ROAD CONSTRUCTION STATE TECHNICAL UNIVERSITY (MADI)
                </p>
                <p><strong>
                    Faculty:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Faculty of Road building
                </p>
                <p><strong>
                    Departament:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Bridges, tunnels and engineering constructions
                </p>
                <p><strong>
                    Speciality:
                </strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;Railway Engineer
                </p>
            </td>
          </tr>

          <!-- 5 row -->
          <tr>
            <td class="w-25 text-center"
                style="text-align: center;font-style: oblique;padding-top: 50px; font-family: Inconsolata">
              <h2><strong>Work Experience</strong></h2>
            </td>
            <td colspan="2" class="w-20 text-left" style="padding-left: 18vmin;padding-top: 50px;">
                <h6>
                    <strong>
                        LEAD ENGINEER
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                      ООО ИЦ МИТ (Engineering "Center Bridges and tonnels"),
                    </strong>
                    Moscow, September 2012 &nbsp;-&nbsp;Present
                </p>
                <p>
                    Work in this organization became the starting point on the way of my becoming a computer programmer.
                    Due to the presence of a large number of objects and, as a result, a large amount of work and
                    very tight deadlines that are given here for the execution of these works, I had a natural
                    desire to somehow automate the routine processes that abound in design. From that moment on,
                    I began to discover the fascinating world of computer programming.
                    My main tool was Python. I wrote several useful
                    <a href="{% url 'software_project_detail' pk=2 %}">scripts</a> that my colleagues are actively using,
                    wrote a <a href="{% url 'software_project_detail' pk=1 %}">program for working with AutoCAD</a>,
                    which you can see in my <a href="{% url 'software_projects_list' %}">portfolio</a>.
                    In this organization, I participated in the creation of a large
                    number of unique structures, including the <a href="{% url 'civil_project_detail' pk=7 %}">
                    Crimean Bridge</a>, the <a href="{% url 'civil_project_detail' pk=6 %}">
                    Bridge over the Volga River in the city of Dubna</a>,
                    and many others. Also, here I got experience in project management.
                </p>
                <br>
                <h6>
                    <strong>
                        DESIGN ENGINEER (First category)
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                      НПО МОСТОВИК,
                    </strong>
                    Moscow, December 2009 &nbsp;-&nbsp;September 2012
                </p>
                <p>
                    My real path in engineering began in this organization. I participated in the creation of
                    dozens of large structures, including the
                    <a href="{% url 'civil_project_detail' pk=5 %}">Bridge to the Russky Island</a> (city of Vladivostok)
                    and Olympic facilities, which were built as part of Russia's preparation for the Olympics in Sochi.
                    Here I learned to think in a complex way, to work for the result and to accomplish the set
                    tasks within the tight deadlines.
                </p>
                <br>

                <h6>
                    <strong>
                        DESIGN ENGINEER
                    </strong>
                </h6>
                <br>
                <p>
                    <strong>
                      ЗАО ТРАНСМОСТОСТРОЙ,
                    </strong>
                    Moscow, February 2008 &nbsp;-&nbsp;January 2009
                </p>
                <p>
                    This is my first job in engineering. At that time I was a third year
                    university student and I naturally did not perform any serious and responsible
                    tasks due to lack of knowledge and the lack of any experience in designing.
                    In fact, this year I became acquainted with the
                    main elements of the supporting structures of
                    pedestrian and road bridges, as well as honed my skills in Avtokad.
                </p>
            </td>
          </tr>

          <!-- 6 row -->
          <tr>
            <td class="w-25 text-center"
                style="text-align: center;font-style: oblique;font-family: Inconsolata; padding-top: 50px">
              <h2><strong>Certificates</strong></h2>
            </td>
            <td class="w-20 text-center" style="padding-top: 50px;">
                <a href="{% static 'infopages/resume/img/CSC_alg_1.png' %}">
                    <img src="{% static 'infopages/resume/img/CSC_alg_1.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
                <a href="{% static 'infopages/resume/img/BI_python_1.png' %}">
                    <img src="{% static 'infopages/resume/img/BI_python_1.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
                <a href="{% static 'infopages/resume/img/DB_sert.png' %}">
                    <img src="{% static 'infopages/resume/img/DB_sert.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
                <a href="{% static 'infopages/resume/img/MAIL_web.png' %}">
                    <img src="{% static 'infopages/resume/img/MAIL_web.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
            </td>
            <td class="w-20 text-center" style="padding-top: 50px;">
                <a href="{% static 'infopages/resume/img/CSC_alg_2.png' %}">
                    <img src="{% static 'infopages/resume/img/CSC_alg_2.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
                <a href="{% static 'infopages/resume/img/BI_python_2.png' %}">
                    <img src="{% static 'infopages/resume/img/BI_python_2.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
                <a href="{% static 'infopages/resume/img/JS.png' %}">
                    <img src="{% static 'infopages/resume/img/JS.png' %}" alt=""
                         style="width:400px; background: #f0f0f0; border: 2px solid #666;">
                </a>
                <br>
                <br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="container text-center" style=" padding-top: 50px;">
      <a href="/infopages/contact/">
        <button type="button" class="btn btn-dark btn-lg" style="color: white">
          Contact me today!
        </button>
      </a>
  </div>
</div>



{% endblock %}



