{% extends "base.html" %}

{% load static %}

{% block title %}<title>{{ flatpage.myflatpage.title }}</title>{% endblock %}



{% block main_header %}

  <div class="container">
      <h1>{{ flatpage.myflatpage.header1|safe }}</h1>
      <h4 style="font-style: oblique; color: #999999 ">{{ flatpage.myflatpage.header2|safe }}</h4>
  </div>

  <div class="container" style="padding: 20px">
    <a href="/infopages/contact/">
        <button type="button" class="btn btn-outline-dark btn-lg" style="color: white">
            Contact me today!
        </button>
    </a>
  </div>
{% endblock %}


{% block content %}
    <div class="container-fluid" style="padding-top: 80px">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md">
          <h2 style="text-align: center;font-style: oblique; font-family: Inconsolata">Technologies</h2>
        </div>
        <div class="col-md ">
          <h5 style="text-align: center;">Day-to-day Comfort</h5>
        </div>
        <div class="col-md">
          <h5 style="text-align: center;">Experienced with</h5>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md"></div>
        <div class="col-md align-center">
          <p style="text-align: left; padding-left: 180px">{{flatpage.myflatpage.content|safe }}</p>
        </div>
        <div class="col-md">
          <p style="text-align: left; padding-left: 180px ">{{flatpage.myflatpage.content1|safe }}</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h2 style="text-align: center; padding-left: 80px;
          font-style: oblique; font-family: Inconsolata">
            Work Experience</h2>
        </div>
        <div class="col-md-7 ">
          <p style="text-align: left; padding-left: 200px">{{flatpage.myflatpage.content2|safe }}</p>
        </div>
        <div class="col-md-1"></div>

      </div>
    </div>

{% endblock %}




