body {
    background-color: whitesmoke;
}

#hat {
    height: 400px;
    color: white;
}

#main_header {
    margin: 100px 20px 20px 20px;
    text-align: center;
}

#secondary_header {
    margin: 20px;
    text-align: center;
    font-style: oblique;
    color: #cccccc;
}


#hat_button {
    margin-bottom: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
}

.collapse {
    text-align: right;
}

.navbar-nav {
    margin: 10px
}

#page_content {
    margin: 100px;
}