{% extends "base.html" %}

{% load static %}

{% block title %} {{ category | title }} {% endblock %}

{% block main_header %} {{ category | title }}  {% endblock %}

{% block secondary_header %} All posts of this category {% endblock %}

{% block button-href %} /blog/ {% endblock %}
{% block button %} All posts {% endblock %}

{% block page_content %}
<div class="col-md-12" style="padding-top: 50px">
    {% for post in post_list %}
        <h2><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'post_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}